<section class="bg-white rounded-2xl shadow-xl p-3 md:p-5 pb-2 my-2 md:my-3">
    <!-- progress + quick metrics -->
    <div class="flex items-center gap-3 md:gap-4">
        <div class="flex-1">
            <div class="flex items-center justify-between gap-4">
                <div class="flex flex-col justify-center flex-1">
                    <div class="flex items-center gap-2 ">
                        <div class="text-xs text-slate-500">Daily completion</div>
                        <div></div>
                    </div>
                    <div class="text-base md:text-lg font-semibold text-slate-800 mb-1">{{ ratio() }}%</div>
                    <div class="h-2 bg-slate-100 rounded-full overflow-hidden w-full">
                        <div class="h-full bg-gradient-to-r from-blue-400 to-emerald-400 transition-[width] duration-300 ease-out"
                            [ngStyle]="{width: ratio() + '%' }"></div>
                    </div>
                </div>
                <div class="flex gap-2 md:gap-4">
                    <div class="text-orange-700 w-auto h-16 md:h-20 p-1 md:p-2 rounded-lg bg-orange-50 flex items-center justify-center shadow-lg ring-2 md:ring-4 ring-red-50
                            flex gap-0 flex-col min-w-[4rem] sm:min-w-[5rem]">
                        <div class="text-2xl md:text-3xl drop-shadow-md drop-shadow-orange-300">🔥</div>
                        <div class="text-[10px] md:text-sm opacity-90 font-semibold leading-tight">Streak</div>
                        <div class="font-bold text-lg md:text-xl leading-none">{{ current() }}</div>
                    </div>
                    <div class="text-yellow-700 w-auto h-16 md:h-20 p-1 md:p-2 rounded-lg bg-yellow-50 flex items-center justify-center shadow-lg ring-2 md:ring-4 ring-yellow-50
                            flex gap-0 flex-col min-w-[4rem] sm:min-w-[5rem]">
                        <div class="text-2xl md:text-3xl drop-shadow-xl drop-shadow-yellow-900">🏆</div>
                        <div class="text-[10px] md:text-sm opacity-90 font-semibold leading-tight">Best</div>
                        <div class="font-bold text-lg md:text-xl leading-none">{{ best() }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>