html,
body {
    height: 100%;
    width: 100%;
}

body {
    @apply bg-gray-50 text-gray-900;
    font-family: 'Inter', ui-sans-serif, system-ui, system-ui, -apple-system, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}