:host {
    display: block;
    font-family: Inter, ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto;
}

button:focus {
    outline: none;
    box-shadow: 0 8px 20px rgba(2, 6, 23, 0.08);
}

.rounded-2xl {
    border-radius: 1rem;
}

.line-through {
    text-decoration: line-through;
    color: #94a3b8 !important;
}